@media (max-width: 375px) {
    body {
        background: url(../images/bg-mobile.svg) hsl(257, 40%, 49%)  center top no-repeat;
    }

    header .image-logo{
        width: 200px;
    }

    main {
        display: block;
    }

    main img {
        padding: 0 30px;
    }

    main .infos {
        text-align: center;
        padding: 0 10px;
        margin-bottom: 90px;
    }

    main .infos h1 {
        font-size: 30px;
        width: 350px;
    }

    main .infos p {
        width: 280px;
        margin:  auto;
        padding-bottom: 35px;
    }

    main .infos .btn-register {
        padding: 10px 60px;
    }

    .social ul {
        justify-content: center;
        gap: 15px;
    }

    .social nav ul li a i {
        font-size: 110%;
        padding: 10px;
    }

    
}